<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta charset="UTF-8">
<title>Reservation</title>
</head>
<body>
<div th:insert="index.html"></div>

<form action="/makeReservation"  method="Post"> 
<h2> First select passanger</h2>
<select name="tourist_id" id="chooseId">
 <option value="">Select passanger</option>
        <option th:each="Tourist : ${touristsList}"
                th:value="${Tourist.tourist_id}"
                th:text="${Tourist.name}+' : '+${Tourist.surname}+' : '+${Tourist.dateOfBirth}">
        </option>
    </select>
    <br>
    <h2> Now, please select your flight</h2>
    <select name="flightId" id="flightId">
 <option value="">Select your flight</option>
        <option th:each="Flight : ${flightsList}"
                th:value="${Flight.flightId}"
                th:text="${Flight.dateOfDeparture}+' : '+${Flight.dateOfArrival}+' : '+${Flight.flightCapacity}+' : '+${Flight.flightPrice}">
        </option>
    </select>
    <br>
     <input type="submit" value="Book">Proceed your reservation<br>
    </form>

</body>
</html>